# ОБЕРЕЖНО: Це шаблон! Не пишіть сюди реальні паролі. 
# Кожен розробник копіює цей файл, перейменовує на .env і вписує свої локальні паролі.

# Backend Database Config (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=arcabank_db
DB_USER=postgres
DB_PASSWORD=

# Security / JWT
JWT_SECRET_KEY=
JWT_EXPIRATION_TIME=86400000

# Frontend Config
REACT_APP_API_BASE_URL=http://localhost:8080/api/v1