# Secret data
.env
*.pem
*.key

# Backend (Java / Spring Boot)
target/
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar
*.class
*.log

# Frontend (Angular / Node)
node_modules/
dist/
.angular/
.eslintcache

# System files and IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml
