<section class="login">

<div class="login_main-content">
  <div class="login__logo-container">
    <h2 class="login__logo">ArcaBank</h2>
  </div>

  <form class="login__login-form">
    <div class="login__input-container">
      <label for="emailInput">Введіть email</label>
      <app-email-input id="emailInput"/>
    </div>

    <div class="login__input-container">
      <div class="login__container">
        <label for="passwordInput">Введіть пароль</label>
        <a (click)="goToForgotPassword()" >Забули пароль?</a>
      </div>
      <app-password-input id="passwordInput"/>
    </div>

    <div class="login__checkbox-container">
      <app-checkbox text="Запам'ятати мене"/>
    </div>

    <div class="login__btn-container">
      <app-primary-btn btnType="submit" btnText="Логін"/>
    </div>
  </form>

  <div class="login__create-account-btn-container">
    <a (click)="goToSignUp()" >Створити акаунт</a>
  </div>
</div>

</section>
