.login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login_main-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    .login__logo-container {
      .login__logo {
        text-align: center;
        color: var(--app-primary-color);
        font-size: 40px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 3.20px;
      }
    }

    .login__login-form {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 400px;

      .login__input-container {
        label {
          color: var(--default-black);
          font-weight: 500;
          line-height: 24px;
          font-size: 16px;
        }

        .login__container {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        a {
          text-decoration: none;
          color: var(--app-primary-color);
          font-size: 12px;
          font-weight: 500;
          cursor: pointer;
        }
      }

      .login__checkbox-container {
      }

      .login__btn-container {
      }
    }

    .login__create-account-btn-container {
      display: flex;
      justify-content: center;
      a {
        color: var(--app-primary-color);
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        cursor: pointer;
      }
    }
  }


}
